typing-extensions
langchain-core
langchain-openai
langchain-experimental
pandas
yfinance
stockstats
langgraph
rank-bm25
setuptools
requests
tqdm
pytz
fastapi
uvicorn[standard]
sse-starlette
langchain_anthropic
langchain-google-genai
typer
rich
python-dotenv
